[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

feedparser = "~=5.2"
firebase-admin = "~=2.12"
google-cloud-firestore = "~=0.29"


[dev-packages]

pylint = "*"
