[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "~=5.2"
firebase-admin = "~=2.12"
google-cloud-firestore = "~=0.29"
langdetect = "*"
Click = ">6.0"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-watch = "*"

[scripts]
test = "pytest"
init = "pipenv install --dev"
init-dev = "python setup.py develop"
dev = "ptw"
start = "technukrom_start"
stat = "technukrom_stat"
